.form-item {
  margin-bottom: 1.5rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: var(--sl-text-sm);
  font-weight: 500;
  line-height: 1;
}

.input {
  display: block;
  width: 100%;
  max-width: 22rem;
  height: 2.5rem;
  margin-bottom: 0.25rem;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  background-color: var(--sl-color-black);
  color: var(--sl-color-white);
  font: inherit;
  font-size: var(--sl-text-sm);
  border: 1px solid var(--sl-color-gray-5);
  border-radius: 0.5rem;
  outline: none;
}

.input::placeholder {
  color: var(--sl-color-gray-3);
}

.input:hover,
.input:focus-within {
  border-color: var(--sl-color-text-accent);
}

.description {
  padding-inline-start: 0.5rem;
  color: var(--sl-color-gray-3);
  font-size: var(--sl-text-sm);
}

.button {
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  background-color: var(--sl-color-accent);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  white-space: nowrap;
  border: none;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  outline: none;
  cursor: pointer;
}

.button:hover,
.button:focus-visible {
  background-color: rgb(39, 39, 42);
  color: var(--sl-color-white);
}

.button:active {
  transform: scale(0.95);
}
