.toolbar {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 2rem;
}

.sort-view-group {
  display: flex;
  gap: 15px;
}

select {
  display: block;
  width: 195px;
  height: 36px;
  padding-inline: 0.625rem;
  background-color: transparent;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: var(--sl-color-gray-5);
  outline: none;

  /* Custom chevron */
  background-image: url("/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right 4px center;
  appearance: none;
  stroke: var(--sl-color-white);
}

select:hover,
select:focus-within {
  background-color: rgb(39, 39, 42);
  color: var(--sl-color-accent-high);
  cursor: pointer;
}
