---
import SnippetCard from "@/components/snippet-card.astro";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { getCollection } from "astro:content";

const snippets = await getCollection("snippets");
---

<StarlightPage frontmatter={{ title: "Snippets", tableOfContents: false, prev: false, next: false }}>
  <div class="grid">
    {snippets.map(async (snippet) => <SnippetCard item={snippet} />)}
  </div>
</StarlightPage>

<style is:inline>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
    gap: 20px;
    margin: 0 auto;
  }

  .sl-container {
    --sl-content-width: 1200px;
  }

  @media (min-width: 50rem) {
    .header {
      --__toc-width: unset;
    }
  }

  .header :nth-child(2).sl-flex {
    display: block;
  }
</style>
