---
import type { Props } from "@astrojs/starlight/props";

import Default from "starlight-theme-rapide/overrides/ThemeSelect.astro";
---

<div class="social-icons nav-links" style="margin-inline-start: 0.5rem;">
  <a class="link" href="/settings">
    <span class="sr-only">settings</span>
    <svg aria-hidden="true" height="16" width="16" viewBox="0 0 24 24">
      <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
        <path
          d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2"
        ></path>
        <circle cx="12" cy="12" r="3"></circle>
      </g>
    </svg>
  </a>

  <Default {...Astro.props}><slot /></Default>
</div>

<style>
  .nav-links {
    display: flex;
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
  }

  :global(starlight-rapide-theme-select button) {
    margin-inline: 0;
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
  }
</style>
