:root {
  /* Resizing headings */
  --sl-text-h1: var(--sl-text-4xl);
  --sl-text-h2: var(--sl-text-2xl);
  --sl-text-h3: var(--sl-text-xl);
  --sl-text-h4: var(--sl-text-lg);
  --sl-text-h5: var(--sl-text-base);
}

.sr-only {
  display: none;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sl-link-button.primary:hover {
  color: var(--sl-color-white);
}

.sl-link-button.secondary:hover {
  color: var(--sl-color-accent);
}

header.header .header {
  width: min(1032px, 100%);
  margin: 0 auto;
}

.mobile-header mobile-starlight-toc nav .dropdown {
  width: auto;
}

.sl-markdown-content .card > * {
  margin-top: 0;
}

@media (min-width: 1152px) {
  html[data-has-sidebar] h1#_top {
    margin-top: 32px;
  }
}
